@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(
    0deg,
    rgba(241, 168, 134, 1) 0%,
    rgba(255, 210, 189, 1) 100%
  );
  min-height: 100%;
  font-family: "Mali", ui-sans-serif, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #4d0000;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-of-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.to-back {
  z-index: -1;
}
